Мы создаем сервис по квиз-маркетингу для лидогенерации.
Сервис должен быть построен на базе NextJS, TailwindCSS, ShadcnUI, Lucid, Supabase, Clerk.
 Когда пишешь код, будь на 100% уверен что ты не ламаешь существущие функции и код.